!!!
html
  head
    meta(charset='utf-8')
    title Cette pas n'existe pas
    link(href='/static/stylesheets/styles.css', rel='stylesheet', media='screen')
  body
    img.imgErreurCentrer(src='/static/images/AsterixObelix404.png')
        