if userType !== 'prof' && userType !== 'etudiant' && userType !== 'admin' 
  form(method='post', action='/login')
    fieldset
      label Identifiant
      input(type='text', placeholder='Identifiant', name='login')
      br
      label Mot de Passe
      input(type='password', placeholder='Mot de Passe', name='password')
      br
      button.btn(type='submit') Connecter  
      if logginError
        br
        span(style='color:red') Informations invalides
      br
      br
      a(href='#') Oubliez votre mot de passe?
      br
      p(style='text-align:justify') Entrez votre identifiant et cliquer sur le lien, un courriel contenant le mot de passe sera envoyé à l'adresse courriel reliée au compte.
