extends presentations

block arborescence
  include arborescence

block breadcrumb
  ul.breadcrumb
    li
      span Présentation 
        a#presentationID(href='') 2.2
     
block primaire
  ul.inline
    if userType === 'prof'
      li
        a(href='/editer-presentation') Mode Editeur
    li
      a.open-popup-link(href="#test-popup") Démarrer la présentation 
  p (à faire, visualiser la présentation dans la page)
  div#remplir
 
block acetates
  include acetates
