extends presentations


block arborescence
  include arborescence

block breadcrumb
  ul.breadcrumb
    li
      if presentationFichier   
        span #{presentationFichier}
      else
        span Aucune présentation active
        
block primaire
  if presentationFichier   
    ul.inline
      if userType === 'prof'
        li
          form(action='/editer-presentation')
            button.btn(type='submit') Mode Editeur
        li
          form(action='/partager-presentation')
            button.btn(type='submit') Partager
      li
        a(href="#") 
          button.btn#open-pres Démarrer la présentation 
  
           
    div#remplir
    iframe#saveEditor(src="/presentation/2.2")
    script(src='/static/javascripts/pres.js')
  
block acetates
  if presentationFichier   
    div#thumbnails-pages.presentationEnCours
      ul.unstyled#sortable
