extends presentations

block breadcrumb
  li
    a(href='#') Présentation 2.2
    span.divider /

block primaire
  p Bienvenu!

block acetates
  ul.unstyled
    li
      a.thumbnail(href='/presentation/page')
        img(src='images/1-INF4375-XML.png')
    li
      a.thumbnail(href='/presentation/page')
        img(src='images/2-INF4375-XML.png')
    li
      a.thumbnail(href='/presentation/page')
        img(src='images/3-INF4375-XML.png')
    li
      a.thumbnail(href='/presentation/page')
        img(src='images/4-INF4375-XML.png')
    li
      a.thumbnail(href='/presentation/page')
        img(src='images/1-INF4375-XML.png')
    li
      a.thumbnail(href='/presentation/page')
        img(src='images/2-INF4375-XML.png')
    li
      a.thumbnail(href='/presentation/page')
        img(src='images/3-INF4375-XML.png')
    li
      a.thumbnail(href='/presentation/page')
        img(src='images/4-INF4375-XML.png')
