extends presentations

block jsextra
  script(src='/static/javascripts/pres.js')

block arborescence
  include arborescence

block breadcrumb
  ul.breadcrumb
    li
      span Présentation 
        a#presentationID(href='') 2.2
     
block primaire
  ul.inline
    if userType === 'prof'
      li
        form(action='/editer-presentation')
          button.btn(type='submit') Mode Editeur
      li
        form(action='/partager-presentation')
          button.btn(type='submit') Partager
    li
      a(href="#") 
        button.btn#open-pres Démarrer la présentation 
      
  div#remplir
  div#saveEditor
    
 
block acetates
  include acetates
