extends presentations

block breadcrumb
  li
    p Présentation 
     a#presentationID(href='') 2.2
    span.divider#presentstart 
     
block primaire
  p Bienvenue!
  a.open-popup-link(href="#test-popup") Démarrer la présentation 
  div#remplir
 
block acetates
 div.presentationEnCours
   ul.unstyled#sortable
     li
       a.thumbnail(href='')
         img.group1.cboxElement(src='/static/images/1-INF4375-XML.png')
     li
       a.thumbnail(href='')
         img.group1.cboxElement(src='/static/images/2-INF4375-XML.png')
     li
       a.thumbnail(href='')
         img.group1.cboxElement(src='/static/images/3-INF4375-XML.png')
     li
       a.thumbnail(href='')
         img.group1.cboxElement(src='/static/images/4-INF4375-XML.png')
     li
       a.thumbnail(href='')
         img.group1.cboxElement(src='/static/images/1-INF4375-XML.png')
     li
       a.thumbnail(href='')
         img.group1.cboxElement(src='/static/images/2-INF4375-XML.png')
     li
       a.thumbnail(href='')
         img.group1.cboxElement(src='/static/images/3-INF4375-XML.png')
     li
       a.thumbnail(href='')
         img.group1.cboxElement(src='/static/images/4-INF4375-XML.png')
