extends presentations

block arborescence
  include arborescence

block breadcrumb
  
  ul.breadcrumb
    li
      span Présentation 
        a#presentationID(href='') 2.2
     
block primaire
  ul.inline
    if userType === 'prof'
      li
        form(action='/editer-presentation')
          button.btn(type='submit') Mode Editeur
      li
        form(action='/partager-presentation')
          button.btn(type='submit') Partager
    li
      button.btn(type='button', onclick='demarerPresentation()') Démarrer la présentation 
      
  button#btnFinPresentation.btn.topleft(type='button', style='display:none', onclick='finPresentation()') Fin présentation
  
  div#codeImpress
    div#impress
    
      div.step.slide.mini(data-x="-1000", data-y="-1500")
        p Page 1
      div.step.slide.mini(data-x="0", data-y="-1500")
        p Page 2
      div.step.slide.mini(data-x="1000", data-y="-1500")
        p Page 3
 
block acetates
  include acetates

