extends presentations

block arborescence
  include arborescence

block breadcrumb
  script(src='/static/javascripts/pres.js')
  ul.breadcrumb
    li
      span Présentation 
        a#presentationID(href='') 2.2
     
block primaire
  ul.inline
    if userType === 'prof'
      li
        form(action='/editer-presentation')
          button.btn(type='submit') Mode Editeur
    li
      a.open-popup-link(href="#test-popup") 
        button.btn Démarrer la présentation 
      
  p (à faire, visualiser la présentation dans la page)
  div#remplir
  div#saveEditor
 
block acetates
  include acetates
