.span3
    include authentification
    include arborescence
  
.span8
    .alert.alert-info
        h4 Contactez-nous

    textarea(style='width:95%; resize:none; height:100px;', placeholder='Écrivez votre message ici.')

    button.btn(onclick='return false;') Envoyez votre message
