extends navbar-professeur
// IF-1.3-E :: Interface pour éditer une page

block jsextra
    //script(src='/static/javascripts/presentation.js')
    script(src='/static/javascripts/editeurpresentation.js')
    //script(src='/static/javascripts/edit-pres.js')
    
block contenu
  nav#presentations.span3
    include arborescence
  
  section#interface-primaire.span6
    ul.breadcrumb
      li
        a#presentationID(href='') #{presentationTitre}
        span.divider /
      li
        span Page 
          span#page-id.page-id x
          |  de 
          span#page-compte X
    
    ul.inline
      li
        form(action='/presentation')
          button.btn(type='submit') Mode Consulter
      li
        a(href="#") 
          button.btn#start_full Démarrer la présentation 
      li
        form(action='/partager-presentation')
          button.btn(type='submit') Partager
    
    div#remplir
      form(action='')
        ul.nav.inline
          li: a(href='#', title="inserer nouvelle page avant")#bouton-ins-avant: +↩
          li: a(href='#', title="consulter page précédente", style="display:none")#bouton-pg-precedente: ⎗
          li: a(href='#', title="consulter page suivante", style="display:none")#bouton-pg-suivante: ⎘
          li: a(href='#', title="inserer nouvelle page après")#bouton-ins-apres: ↪+
        ul.nav.inline
          li: a(href='#'): i.icon-bold
          li: a(href='#'): i.icon-italic
          li: a(href='#'): i.icon-font
          li: a(href='#'): i.icon-align-left
          li: a(href='#'): i.icon-align-center
          li: a(href='#'): i.icon-align-justify
          li: a(href='#'): i.icon-align-right
          li: p(style="font-size:15px") texte
          li: a#bouton-supprimer(href='#supprimerPageModal', title="Supprimer cette page", role="button", data-toggle="modal"): i.icon-trash
        textarea#editeur-page(style='height: 200px; width:100%')
        p.muted(style="font-size:15px") Indice: Drag et drop pour insérer des images.
        .form-actions
          button#bouton-sauvegarder.btn.btn-primary(type='submit') Sauvegarder
          button.btn(type='button') Annuler
      #source-presentation(style="display:none") !{presentationObj}
    //div#saveEditor 
    div#dialog-supprimer(title="Basic dialog", style="display:none")
      p Vous êtes sûr de vouloir supprimer la page 
        span.page-id 1 
        ?
    
  #acetates.span3
    div#thumbnails-pages.presentationEnCours(style='height: 600px; overflow-y: scroll;')
      ul.unstyled#sortable
        // `li`s sont genere a partir du html qui se trouve dans #source-presentation

  div#supprimerPageModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="supprimerPageTitre", aria-hidden="true")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")×
      h3#supprimerFichierTitre Supprimer une page
    div.modal-body
      p Voulez-vous supprimer la page  
        span#noPageModal
        span ?
    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Annuler
      button#btnSupprimerPageModal.btn.btn-primary(data-dismiss="modal") Supprimer
