extends navbar-professeur
// IF-1.3-E :: Interface pour éditer une page

block jsextra
    script(src='/static/javascripts/editeurpresentation.js')

block contenu
  nav#presentations.span3
    include arborescence
  
  section#interface-primaire.span6
    ul.breadcrumb
      li
        a#presentationID(href='#') #{presentationTitre}
        span.divider /
      li
        span Page 
          span#page-id.page-id x
          |  de 
          span#page-compte X
    
    
    div#remplir
      form(action='')
        //ul.nav.inline
        div.btn-toolbar
            div.btn-group
                a.btn(href='#', title="inserer nouvelle page avant", style="color:black; font-weight:bold;")#bouton-ins-avant: +↩
                a.btn(href='#', title="consulter page précédente")#bouton-pg-precedente: i.icon-chevron-left
                a.btn(href='#', title="consulter page suivante")#bouton-pg-suivante: i.icon-chevron-right
                a.btn(href='#', title="inserer nouvelle page après", style="color:black;font-weight:bold;")#bouton-ins-apres: ↪+
                a#bouton-supprimer.btn(href='#supprimerPageModal', title="Supprimer cette page", role="button", data-toggle="modal"): i.icon-trash
        textarea#editeur-page(style='height: 200px; width:100%')
        p.muted(style="font-size:15px") Indice: Drag et drop pour insérer des images.
        .form-actions
          button#bouton-sauvegarder.btn.btn-primary(type='submit') Sauvegarder
          button.btn(type='button') Annuler
        div#msgEditeur

      #source-presentation(style="display:none") !{presentationObj}
    //div#saveEditor 
    div#dialog-supprimer(title="Basic dialog", style="display:none")
      p Vous êtes sûr de vouloir supprimer la page 
        span.page-id 1 
        ?
    
    ul.inline
      li
        form(action='/presentation')
          button.btn(type='submit') Mode Consulter
      li
        form(action='/partager-presentation')
          button.btn(type='submit') Partager
      li
        a.btn(href='#choisirGabarit', role='button', data-toggle='modal') Choisir le gabarit


  #acetates.span3
    div#thumbnails-pages.presentationEnCours(style='height: 600px; overflow-y: scroll;')
      ul.unstyled#sortable
        // `li`s sont genere a partir du html qui se trouve dans #source-presentation

  div#supprimerPageModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="supprimerPageTitre", aria-hidden="true")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")×
      h3#supprimerFichierTitre Supprimer une page
    div.modal-body
      p Voulez-vous supprimer la page  
        span#noPageModal
        span ?
    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Annuler
      button#btnSupprimerPageModal.btn.btn-primary(data-dismiss="modal") Supprimer

  div#choisirGabarit.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="choisirGabarit", aria-hidden="true")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")×
      h3#renommerTitre Choisir le gabarit
    div.modal-body
      form
        label.radio 
          img(src='/static/images/template/template1.png', style='margin:5px;')
          input#choisirFormat(type='radio', name='type', value='1')
        label.radio 
          img(src='/static/images/template/template2.png', style='margin:5px;')
          input#choisirFormat(type='radio', name='type', value='2')
        label.radio 
          img(src='/static/images/template/template3.png', style='margin:5px;')
          input#choisirFormat(type='radio', name='type', value='3')

    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Fermer
      button.btn.btn-primary(data-dismiss="modal", onclick='return false;') Choisir


