extends index
extends navbar-admin

block contenu
  nav#presentations.span3
    ul#adminOptions.nav.nav-list
      li.nav-header(style='font-size:1.2em') Gestion Utilisateur
      li.active
        a(href='#creer', data-toggle='tab', onclick='activerTab(0)') Créer un compte utilisateur
      li
        a(href='#importer', data-toggle='tab', onclick='activerTab(1)') Importer une liste d'utilisateur
      li
        a(href='#supprimer', data-toggle='tab', onclick='activerTab(2)') Supprimer un utilisateur
      li
        a(href='#consulterModifier', data-toggle='tab', onclick='activerTab(3)') Consulter ou modifier un compte utilisateur
  
  section#interface-primaire.span8

    block primaire
      div.tabbable
        ul#adminTab.nav.nav-tabs
          li.active 
            a(href='#creer', data-toggle='tab', onclick='activerOptions(1)') Créer
          li
            a(href='#importer', data-toggle='tab', onclick='activerOptions(2)') Importer
          li
            a(href='#supprimer', data-toggle='tab', onclick='activerOptions(3)') Supprimer
          li
            a(href='#consulterModifier', data-toggle='tab', onclick='activerOptions(4)') Consulter/Modifier
        div#myTabContent.tab-content
          div#creer.tab-pane.fade.in.active
            form
              table
                tr
                  td
                    span Nom
                  td
                    input#creerNom(type='text', name='nom', maxlength='32', onchange='protoActiverCreerBtn()')
                tr
                  td
                    span Prénom
                  td
                    input#creerPrenom(type='text', name='prenom', maxlength='32', onchange='protoActiverCreerBtn()')
                tr
                  td
                    span Courriel
                  td
                    input#creerCourriel(type='text', name='courriel', onchange='protoActiverCreerBtn()')
                tr
                  td
                    span Identifiant
                  td
                    input#creerIdentifiant(type='text', name='identifiant', onchange='protoActiverCreerBtn()')
                tr
                  td
                    span Type
                  td
                    label.radio Professeur
                      input#creerProfesseur(type='radio', name='type', value='professeur', onchange='protoActiverCreerBtn()')
                    label.radio Étudiant
                      input#creerEtudiant(type='radio', name='type', value='etudiant', onchange='protoActiverCreerBtn()')
                tr(colspan='2')
                  td 
                    button#btnCreerUtilisateur.btn.btn-primary(type='button', disabled) Créer Utilisateur
          div#importer.tab-pane.fade
            form
              button.btn.btn-primary(type='button') Importer Liste
              input(type='file')
          div#supprimer.tab-pane.fade
            form.form-search
              input.input-medium.search-query(type='text')
              button.btn(type='button', onclick='protoRechercheSupprimer()') Rechercher
            form
              table
                tr
                  td
                    span Nom
                  td
                    input#supprimerNom(type='text', name='nom', disabled)
                tr
                  td
                    span Prénom
                  td
                    input#supprimerPrenom(type='text', name='prenom', disabled)
                tr
                  td
                    span Courriel
                  td
                    input#supprimerCourriel(type='text', name='courriel', disabled)
                tr
                  td
                    span Identifiant
                  td
                    input#supprimerID(type='text', name='identifiant', disabled)
                tr
                  td
                    span Type
                  td
                    label.radio Professeur
                      input#supprimerProf(type='radio', name='type', value='professeur', disabled)
                    label.radio Étudiant
                      input#supprimerEtudiant(type='radio', name='type', value='etudiant', disabled)
                tr(colspan='2')
                  td 
                    button#btnSupprimer.btn.btn-primary(type='button', disabled) Supprimer Utilisateur
          div#consulterModifier.tab-pane.fade
            form.form-search
              input.input-medium.search-query(type='text')
              button.btn(type='button', onclick='protoRechercheConMod()') Rechercher
            form
              table
                tr
                  td
                    span Nom
                  td
                    input#conModNom(type='text', name='nom', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Prénom
                  td
                    input#conModPrenom(type='text', name='prenom', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Courriel
                  td
                    input#conModCourriel(type='text', name='courriel', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Identifiant
                  td
                    input#conModID(type='text', name='identifiant', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Nouveau mot de passe
                  td
                    input#conModPassword(type='password', name='password', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Confirmer mot de passe
                  td
                    input#conModPassword(type='password', name='confirmer_password', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Type
                  td
                    label.radio Professeur
                      input#conModProf(type='radio', name='type', value='professeur', onchange=' onchangeConsulterModifier()')
                    label.radio Étudiant
                      input#conModEtudiant(type='radio', name='type', value='etudiant', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Statut
                  td
                    label.radio Activé
                      input#conModActive(type='radio', name='statut', value='active', onchange=' onchangeConsulterModifier()')
                    label.radio Désactivé
                      input#conModDesactive(type='radio', name='statut', value='desactive', onchange=' onchangeConsulterModifier()')
                tr(colspan='2')
                  td 
                    button#btnModifier.btn.btn-primary(type='button', disabled) Modifier Utilisateur
