extends index
extends navbar-admin

block contenu
  nav#presentations.span3
    ul#adminOptions.nav.nav-list
      li.nav-header(style='font-size:1.3em') Options Admin
      li.active
        a(href='#creer', data-toggle='tab', onclick='activerTab(0)') Créer un compte utilisateur
      li
        a(href='#importer', data-toggle='tab', onclick='activerTab(1)') Importer une liste d'utilisateur
      li
        a(href='#supprimer', data-toggle='tab', onclick='activerTab(2)') Supprimer un utilisateur
      li
        a(href='#consulterModifier', data-toggle='tab', onclick='activerTab(3)') Consulter ou modifier un compte utilisateur
  
  section#interface-primaire.span8

    block primaire
      div.tabbable
        ul#adminTab.nav.nav-tabs
          li.active 
            a(href='#creer', data-toggle='tab', onclick='activerOptions(1)') Créer
          li
            a(href='#importer', data-toggle='tab', onclick='activerOptions(2)') Importer
          li
            a(href='#supprimer', data-toggle='tab', onclick='activerOptions(3)') Supprimer
          li
            a(href='#consulterModifier', data-toggle='tab', onclick='activerOptions(4)') Consulter/Modifier
        div#myTabContent.tab-content
          div#creer.tab-pane.fade.in.active
            form
              table
                tr
                  td
                    span Nom
                  td
                    input(type='text', name='nom', maxlength='32')
                tr
                  td
                    span Prénom
                  td
                    input(type='text', name='prenom', maxlength='32')
                tr
                  td
                    span Courriel
                  td
                    input(type='text', name='courriel')
                tr
                  td
                    span Identifiant
                  td
                    input(type='text', name='identifiant')
                tr
                  td
                    span Mot de Passe
                  td
                    input(type='password', name='password')
                tr
                  td
                    span Type
                  td
                    label.radio Professeur
                      input(type='radio', name='type', value='professeur')
                    label.radio Étudiant
                      input(type='radio', name='type', value='etudiant')
                tr(colspan='2')
                  td 
                    input.btn.btn-primary(type='submit', value='Inscrire Utilisateur')
          div#importer.tab-pane.fade
            form
              input.btn.btn-file(type='file')
              input.btn.btn-primary(type='submit', value='Importer Liste')
                      div#importer.tab-pane.fade
          div#supprimer.tab-pane.fade
            form.form-search
              input.input-medium.search-query(type='text')
              input.btn(type='button', value='Rechercher', onclick='protoRechercheSupprimer()')
            form
              table
                tr
                  td
                    span Nom
                  td
                    input#supprimerNom(type='text', name='nom', disabled)
                tr
                  td
                    span Prénom
                  td
                    input#supprimerPrenom(type='text', name='prenom', disabled)
                tr
                  td
                    span Courriel
                  td
                    input#supprimerCourriel(type='text', name='courriel', disabled)
                tr
                  td
                    span Identifiant
                  td
                    input#supprimerID(type='text', name='identifiant', disabled)
                tr
                  td
                    span Type
                  td
                    label.radio Professeur
                      input#supprimerProf(type='radio', name='type', value='professeur', disabled)
                    label.radio Étudiant
                      input#supprimerEtudiant(type='radio', name='type', value='etudiant', disabled)
                tr(colspan='2')
                  td 
                    input#btnSupprimer.btn.btn-primary(type='submit', value='Supprimer Utilisateur', disabled)
          div#consulterModifier.tab-pane.fade
            form.form-search
              input.input-medium.search-query(type='text')
              input.btn(type='button', value='Rechercher', onclick='protoRechercheConMod()')
            form
              table
                tr
                  td
                    span Nom
                  td
                    input#conModNom(type='text', name='nom', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Prénom
                  td
                    input#conModPrenom(type='text', name='prenom', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Courriel
                  td
                    input#conModCourriel(type='text', name='courriel', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Identifiant
                  td
                    input#conModID(type='text', name='identifiant', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Mot de Passe
                  td
                    input#conModPassword(type='password', name='password', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Type
                  td
                    label.radio Professeur
                      input#conModProf(type='radio', name='type', value='professeur', onchange=' onchangeConsulterModifier()')
                    label.radio Étudiant
                      input#conModEtudiant(type='radio', name='type', value='etudiant', onchange=' onchangeConsulterModifier()')
                tr
                  td
                    span Statut
                  td
                    label.radio Activé
                      input#conModActive(type='radio', name='statut', value='active', onchange=' onchangeConsulterModifier()')
                    label.radio Désactivé
                      input#conModDesactive(type='radio', name='statut', value='desactive', onchange=' onchangeConsulterModifier()')
                tr(colspan='2')
                  td 
                    input#btnModifier.btn.btn-primary(type='submit', value='Modifier Utilisateur', disabled)