!!! 5
html
  head
    meta(charset='utf-8')
    title Notes de Cours = interface
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/static/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    //-link(href='./stylesheets/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    script(src='/static/javascripts/index.js')
    script(src='/static/javascripts/jquery-1.10.1.min.js')
    script(src='/static/javascripts/bootstrap.min.js')
  body
    .container
      .row
        .span12.navbar
          .navbar-inner
            .container
              a.brand(href='#') Note de cours
              ul.nav
                li
                  a(href='#') Interface
                li
                  a(href='#') Lien
              form.navbar-search.pull-left
                input.search-query(type='text', placeholder='Search')
              ul.nav.pull-right
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#')
                    | M. Enseignant
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Logout
                    li
                      a(href='#') Config
                    li.divider
                    li
                      a.text-warning(href='#') Couler tous étudiants
      #contenu.row
        block contenu
