extends index

block navbar
  #navbar.span12.navbar
    .navbar-inner
      .container
        ul.nav.pull-left
        
          if menuAccueil
            li.active
              a(href='/') Accueil
          else
            li 
              a(href='/') Accueil
          
          if menuPresentation          
            li.active
              a(href='/presentation') Présentation
          else
            li
              a(href='/presentation') Présentation
              
          if menuContactezNous                 
            li.active
              a(href='/contactez-nous') Contactez-nous
          else
            li
              a(href='/contactez-nous') Contactez-nous
              
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Mr. Enseignant
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Profile
              li
                a(href='/logout') Déconnecter
        form.navbar-search.form-search.pull-right
          div.input-append
            input.search-query.span2(type='text', placeholder='Présentation')
            button.btn(type'submit') Rechercher
