extends index

block contenu
  nav#presentations.span3
    ul.nav.nav-list
      li.nav-header(style='font-size:1.5em') Présentations
      li
        a(href='#') Dossier 1
      li.active
        a(href='#') Dossier 2
        ul.nav.nav-list
          li
            a(href='/presentation') Présentation 2.1
          li.active
            a(href='/presentation') Préntation 2.2
      li
        a(href='/presentation') Présentation 1
      li
        a(href='/presentation') Préntation 2
      li.ajouter
        a(href='/presentation') Nouvelle présentation
  
  section#interface-primaire.span6
    ul.breadcrumb
      block breadcrumb
        li: /
    
    block primaire
      p Bienvenu!
    
  #acetates.span3(style='height: 600px; overflow-y: scroll;')
    block acetates
