extends index

block contenu
  nav#presentations.span3
    block arborescence
  
  section#interface-primaire.span6
    block breadcrumb

    block primaire
  
  if presentationFichier  
    acetates.span3(style='height: 600px; overflow-y: scroll;')
      block acetates
