head
    

.span3
    include authentification
    include arborescence

.span8
    .alert.alert-info
        span
            h4 Résultat de la recherche de "#{nomRech}"



    table(class="table")
        thead
            tr
                th Titre
                th Auteur
        tbody
            tr
                td 
                    a(href="#") INF4170 MultiCycle
                td  Jacques Berger
            tr.info
                td 
                    a(href="#") INF4375 Node
                td Jacques Berger
            tr
                td 
                    a(href="#") INF2005 JS2
                td Jacques Berger
               


